@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

  font-family: var(--font-YekanBakhRegular);
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
h1{
  font-family: var(--font-YekanBakhExtraBlack);
  font-size:48px !important;
  line-height: 88px !important;
  font-weight: 800 !important;
  color: #334155;
}
h2{
  font-family: var(--font-YekanBakhExtraBlack);
  font-size:30px !important;
  line-height: 88px !important;
  font-weight: 800 !important;
  color: #334155;
}
h3{
  font-family: var(--font-YekanBakhExtraBlack);
  font-size:30px !important;
  line-height: 88px !important;
  font-weight: 800 !important;
  color: #334155;
}
